

<!DOCTYPE html>
<html lang="en" class>
   <head>
      
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>accéssoire</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <!-- bootstrap css -->
      
      <style>
         body {
     /* height: 125vh;*/
     background-image: url('mauve.jpg');
     background-size: cover;
     font-family: sans-serif;
     margin-top: 80px;
     padding: 30px;
     }
     </style><!-- mon-composant.component.html -->


      
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div  class="head_top">
            <div class="header">
<section class="banner_main"></section>
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="index.html"><img src="assets/images/logo.png" alt="#" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Nos Offres</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#">Contactez-Nous</a>
                        </li>
                      </ul>
                  </div>
               </div>
            </div>
            <br>
            <br>
            <br>

            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="text-bg">
                           <h1><i>Vente Accéccoires Télephonique</i><i></i> </h1><br>
                           <br>
                           
                           <span></span>
                           <h1> A propos </h1>
                     <p> </p>
                     
                     <span><h2></h2>     
                         <i>Bienvenu chez notre boutique  de vente en ligne <br>
                              A propos de notre beautique <br>
                     de vente en ligne des différents accéssoires Téléphonique <br>
                      de bonne qualité et à bas prix avec des offres spécials <br>
                               et plien des cadeaux de bienvenue <br>
                               N° Tel +216 54 001 002 <br>
                              </i></span>
                           <br>
                           <br>
                        </div>
                     </div>
                     <div class="col-md-7 padding_right1">
                        <div class="text-img">
                           <figure><img src="assets/images/choix.webp" alt="#"/></figure>
                           <h3></h3>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- about -->
      <div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 offset-md-2 ">
                  <div class="about_box ">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about -->
      <!-- best -->
      
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-5">
                     <div class="cont">
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="cont_call">
                        <h6> <strong class="multi">  </strong><br>
                          
                        </h6>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        
                        <div class="text centrer"></div>  <p></p> <h5> © 2023 All Rights Reserved </h5> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      
   </body>
</html>

